header
{
    background-image: url('képek/hatter.png');  /*A ../ jelzi, hogy egy mappával feljebb keressük a képet */
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 35vh;
    position: relative;
}
header nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
header nav a {
    background-color: white;
    color: #333; /* Sötét szövegszín a fehér háttérhez */
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}
header h1{
    background-color: white;
    color: #333; /* Sötét szövegszín a fehér háttérhez */
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
}





footer {
    background-color: #222;
    color: white;
    padding: 20px;
    margin-top: 50px;
    max-width: 100%;
}

footer > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
